<div class="sidebar">
    <div class="sidebar-item">
        <div class="sidebar-item-logo">
            <c-icon name="cil-home" size="xl"></c-icon>
        </div>
        <div class="sidebar-item-title">
            <p>Home</p>
        </div>
    </div>
    <div class="sidebar-item">
        <div class="sidebar-item-logo">
            <c-icon name="cil-compass" size="xl"></c-icon>
        </div>
        <div class="sidebar-item-title">
            <p>Explore</p>
        </div>
    </div>
    <div class="sidebar-item">
        <div class="sidebar-item-logo">
            <c-icon name="cil-music-note" size="xl"></c-icon>
        </div>
        <div class="sidebar-item-title">
            <p>Shorts</p>
        </div>
    </div>
    <div class="sidebar-item">
        <div class="sidebar-item-logo">
            <c-icon name="cil-newspaper" size="xl"></c-icon>
        </div>
        <div class="sidebar-item-title">
            <p>Subscriptions</p>
        </div>
    </div>

    <hr class="sidebar-item-separator">

    <div class="sidebar-item">
        <div class="sidebar-item-logo">
            <c-icon name="cil-library" size="xl"></c-icon>
        </div>
        <div class="sidebar-item-title">
            <p>Library</p>
        </div>
    </div>
    <div class="sidebar-item">
        <div class="sidebar-item-logo">
            <c-icon name="cil-history" size="xl"></c-icon>
        </div>
        <div class="sidebar-item-title">
            <p>History</p>
        </div>
    </div>
    <div class="sidebar-item">
        <div class="sidebar-item-logo">
            <c-icon name="cil-media-play" size="xl"></c-icon>
        </div>
        <div class="sidebar-item-title">
            <p>Your videos</p>
        </div>
    </div>
    <div class="sidebar-item">
        <div class="sidebar-item-logo">
            <c-icon name="cil-av-timer" size="xl"></c-icon>
        </div>
        <div class="sidebar-item-title">
            <p>Watch later</p>
        </div>
    </div>
    <div class="sidebar-item">
        <div class="sidebar-item-logo">
            <c-icon name="cil-thumb-up" size="xl"></c-icon>
        </div>
        <div class="sidebar-item-title">
            <p>Liked videos</p>
        </div>
    </div>
    <div class="sidebar-item">
        <div class="sidebar-item-logo">
            <c-icon name="cil-arrow-bottom" size="xl"></c-icon>
        </div>
        <div class="sidebar-item-title">
            <p>Show more</p>
        </div>
    </div>

    <hr class="sidebar-item-separator">

    <h4>SUBSCRIPTIONS</h4>

    <div class="sidebar-item">
        <div class="sidebar-item-logo">
            <img src="https://yt3.ggpht.com/ZoViy6jSW8lGsT7Fgz7PsxsWznVseOVjGNkqh9U34cJ-7eXAGs_f2s0yCWwgxsxZT6d7icafVr8=s88-c-k-c0x00ffffff-no-rj">
        </div>
        <div class="sidebar-item-title">
            <p>Trap Nation</p>
        </div>
    </div>
    <div class="sidebar-item">
        <div class="sidebar-item-logo">
            <img src="https://yt3.ggpht.com/ytc/AKedOLRYjiFWOmTdHiH7buTrsiXO0KrFscGLIw4EMckNkw=s88-c-k-c0x00ffffff-no-rj">
        </div>
        <div class="sidebar-item-title">
            <p>2CELLOS</p>
        </div>
    </div>
    <div class="sidebar-item">
        <div class="sidebar-item-logo">
            <img src="https://yt3.ggpht.com/ytc/AKedOLQGKDhfIUhBrv9C1hKgMDZsUJbjelfPvXrelFncvw=s88-c-k-c0x00ffffff-no-rj">
        </div>
        <div class="sidebar-item-title">
            <p>3Blue1Brown</p>
        </div>
    </div>
    <div class="sidebar-item">
        <div class="sidebar-item-logo">
            <img src="https://yt3.ggpht.com/ytc/AKedOLRN_FCS-Ng-w-5QC7XGvXPjNeSvgv8Vvo4CdsRG=s88-c-k-c0x00ffffff-no-rj">
        </div>
        <div class="sidebar-item-title">
            <p>Cooking With Babish</p>
        </div>
    </div>
    <div class="sidebar-item">
        <div class="sidebar-item-logo">
            <c-icon name="cil-arrow-bottom" size="xl"></c-icon>
        </div>
        <div class="sidebar-item-title">
            <p>Show more</p>
        </div>
    </div>
</div>
