.main-content {
    margin-top:55px;
    margin-left:230px;
    background-color: #f9f9f9;
}
.main-content-row {
    width:70vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}